# Git
.git
.gitignore

# IDE
.idea/
.vscode/

# Файлы ОС
.DS_Store
Thumbs.db

# Логи
*.log

# Временные файлы
*~

# Артефакты
bin/
build/
dist/
out/

# Тесты
*_test.go
*-test.go
test_results/

# ...
*.go
*.md
LICENSE
Makefile

vendor/

# Конфиг
.env
*.local
