# Скомпилированные бинарные и исполняемые файлы
*.exe
*.dll
*.so
*.dylib
*.a

# Go бинарные
# Папка для скомпилированных бинарных файлов
/build/
# Имя исполняемого файла
user-order-api

# Dependencies
/vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*.swn

logs/

# Файлы, вязанные с ОС
.DS_Store
Thumbs.db

# Логи
*.log

# Базы данных
*.db
*.sqlite
*.sqlite3

*~
coverage.out
coverage
.env
